/*
.grid {

  $grid-width: 100%;
  max-width: 80%;
  background-color: lightgrey;
  outline: 2px solid red;
  margin: 0 auto;
  width: $grid-width;

  @extend .clearfix;

  .unit {
    background-color: grey;
    outline: 2px solid blue;

    float: left;
    width: ($grid-width/8);
    padding-left: 1em;
    padding-right: 1em;
    box-sizing: border-box;
  }

  .unit-span-2 {
    @extend .unit;

    width: ($grid-width/8) * 2;
  }
}
*/
